.w {
	width: 990px;
	margin: 0 auto;
}

a {
	color: #666;
	text-decoration: none;
}

#logo {
	position: relative;
	width: 300px;
	margin: 10px 0;
	height: 60px;
	float: left;
}

strong, b {
	font-weight: bold;
}

#logo b {
	display: block;
	width: 110px;
	height: 40px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(../img/l-icon.png) no-repeat;
}

.q-link {
	width: 136px;
	height: 18px;
	position: relative;
	color: #999;
	float: right;
	top: 52px;
	font-size: 10px;
}

.q-link b {
	display: inline-block;
	width: 18px;
	height: 14px;
	margin: 0 5px;
	background: url(../img/q-icon.png) no-repeat;
	vertical-align: middle;
}

.q-link:hover {
	color: red;
	text-decoration: underline;
}

#content {
	clear: both;
}

#content .tips-wrapper {
	background: #fff8f0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	float: left;
}

#content .tips-wrapper .cont-wrapper {
	display: inline-block;
	width: 90%;
}

#content .tips-wrapper .icon-tips {
	background: url(../img/icon-tips.png);
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 5px;
}

#content .tips-wrapper .tips-inner .black {
	color: #333;
}

#content .tips-wrapper .tips-inner p {
	vertical-align: middle;
	color: #999;
	font-size: 12px;
	display: inline-block;
}

#content .login-wrap {
	margin-top: 0;
}

.login-wrap {
	position: relative;
	height: 475px;
	margin: 10px 0 20px;
	z-index: 5;
}

.login-wrap .login-banner {
	width: 100%;
	height: 100%;
}

.login-wrap .i-inner {
	position: relative;
	z-index: 3;
	height: 620px;
	width: 1360px;
	left: -185px;
}

.login-wrap .login-form {
	float: right;
	top: 50px;
	left: -300px;
}

.login-form {
	position: relative;
	z-index: 4;
	background: #fff;
	overflow: visible;
	width: 350px;
	height: 455px;
}

.login-form .login-tab-l, .login-form .login-tab-r {
	width: 350px;
}
#message{
    float: left;
    width: 327px;
    height: 20px;
	color: red;
	padding:2px 0px 2px 22px;
}

#message i {
    float: left;
    width: 16px;
    height: 16px;
    margin-left: -17px;
    margin-top: 1px;
    background: url(//pic.c-ctrip.com/platform/online/register/un_reg_7.4.png) no-repeat 0 -9999em;
    background-position: 0 -321px;
    vertical-align: middle;
}
.login-form .login-tab {
	height: 54px;
	font-size: 18px;
	font-family: "microsoft yahei";
	text-align: center;
	border-bottom: 1px solid #f4f4f4;
	position: relative;
	float: left;
	background: #fff;
	display: block;
}

.login-form .login-tab-r {
	right: 0;
}

.login-form .login-tab a.checked, .login-form .login-tab a:hover {
	font-weight: 700;
	color: #e4393c;
}

.login-form .login-tab a {
	width: 99%;
	height: 18px;
	position: absolute;
	left: 0;
	top: 18px;
	border-right: 1px solid #f4f4f4;
	text-decoration: none;
}

.login-form .login-box {
	width: 306px;
	padding: 20px;
	position: relative;
	top: 130px;
}

.login-form .login-box .mc {
	overflow: visible;
	zoom: 1;
}

.form .item-fore1 {
	z-index: 6;
}

.form .item-fore1, .form .item-fore2 {
	border: 1px solid #bdbdbd;
	height: 38px;
	width: 304px;
}

.form .item {
	position: relative;
	margin-bottom: 20px;
	z-index: 1;
}

.form .item .name-label {
	background-position: 0 0;
}

.form .item .login-label {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 38px;
	height: 38px;
	border-right: 1px solid #bdbdbd;
	background: url(../img/pwd-icons-new.png) 0 -95px no-repeat;
}

#psw-lable {
	background: url(../img/pwd-icons-new.png) -47px -95px no-repeat;
}

.form label {
	float: none;
}

#loginname {
	position: relative;
	top: -119px;
	left: 39px;
}

#loginpsw {
	position: relative;
	top: -59px;
	left: 39px;
}

#loginver {
	position: relative;
	top: -1px;
	left: 39px;
}

.form .itxt {
	line-height: 16px;
	height: 16px;
	padding: 10px 0 10px 10px;
	width: 254px;
	float: none;
	overflow: hidden;
	font-size: 15px;
	font-family: '\5b8b\4f53';
}

.form .itxtver {
	width: 195px;
	float: left;
}

.form .item-forever {
	width: 230px;
	float: left;
}

#image {
	position: relative;
	left: 16px;
}

.forget-pw-safe {
	position: relative;
	float: right;
	font-size: 13px;
	top: 15px;
}

.forget-pw-safe a:hover {
	color: red;
	text-decoration: underline;
}

.form .item-fore5 {
	margin-bottom: 10px;
	position: relative;
	top: 55px;
}

.login-form .login-box .login-btn {
	border: 1px solid #cb2a2d;
	margin: 0 auto;
	height: 32px;
	width: 99%;
	position: relative;
}

.login-form .login-box .login-btn .btn-img {
	border: 1px solid #e85356;
	display: block;
	width: 302px;
	background: #e4393c;
	height: 31px;
	line-height: 0px;
	color: #fff;
	font-size: 20px;
	font-family: 'Microsoft YaHei';
}

.btn-img, .button {
	display: inline-block; margin 0;
	padding: 0;
	border: 0;
	text-align: center;
	cursor: pointer;
}

.coagent {
	padding-left: 20px;
	padding-right: 20px;
	line-height: 50px;
	border-top: 1px solid #f4f4f4;
	height: 50px;
	background-color: #fcfcfc;
	position: relative;
	top: 40px;
}

.coagent ul {
	display: inline-block;
	display: block;
	list-style: none;
	float: left;
	position: relative;
	left: -60px;
	margin-right: 10px;
}

.coagent ul li {
	float: left;
}

.coagent li a.pdl {
	display: inline-block;
	position: relative;
	padding-left: 24px;
}

.coagent li a.pdl b.QQ-icon {
	background-position: 0 0;
}

.coagent li a.pdl b.weixin-icon {
	background-position: -20px 0;
}

.coagent li a.pdl b {
	width: 19px;
	height: 18px;
	display: block;
	background: url(../img/QQ-weixin.png) no-repeat;
	margin: 0 auto;
	position: absolute;
	float: left;
	left: 0;
	top: 16px;
}

.coagent li.extra-r {
	float: right;
	position: relative;
	right: -130px;
}

.coagent .regist-link a {
	color: red;
	font-size: 14px;
}

.coagent a:hover {
	color: red;
	cursor: pointer;
	text-decoration: underline;
}

.coagent a {
	font-size: 14px;
}

#footer-2018 {
	padding-bottom: 30px;
	text-align: center;
	position: relative;
	top: 55px;
}

#footer-2018 .copyright {
	margin: 10px 0;
}

#copyright {
	font-size: 12px;
	position: relative;
	top: 15px;
}

#footer-2018 .links a, #footer-2018 .links span {
	margin: 0 10px;
	font-size: 15px;
}

#footer-2018 .links a:hover {
	color: red;
}